body {
  line-height: 1.5;
  font-size: 18px;
  padding: 0 10px;
  margin: 50px auto;
  max-width: 600px;
  background-color: rgb(242, 239, 231);
  font-family: "Helvetica Neue";
}

#maincontent {
  max-width: 80em;
  margin: 15 auto;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-class {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;

}

.list-class {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}